/* components/Card.module.css */
.card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.message {
  font-size: 18px;
  margin-bottom: 10px;
}

.counts {
  display: flex;
  align-items: center;
}

.upButton,
.downButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
}

.upButton:hover,
.downButton:hover {
  color: #007bff;
}

.upCount,
.downCount {
  margin: 0 10px;
}
