.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or {
  margin: 0 1rem;
  color: #ccc;
  font-weight: bold;
}
